## Implement a new structure for reading baysor results

See https://github.com/SpatialPathology/GlioblastomaVessels/issues/5

In [1]:
## The following code ensures that all functions and init files are reloaded before executions.
%load_ext autoreload
%autoreload 2

In [3]:
from insitupy import read_xenium
from insitupy._core.io import read_baysor_cells, read_baysor_transcripts

In [7]:
df = read_baysor_transcripts(r"C:\Users\ge37voy\OneDrive - TUM\data\2315_VascularCancer_Mogler\2315-02-glioblastoma\20240112__122324__2315-02-Glioblastoma\baysor\baysor_output-0017313__N-486-22-T__20240410__180243")

Parsing transcripts data...
	Read data

In [8]:
df

,x,y,z,gene,qv,cell_id,cell_id_renamed,molecule_id,prior_segmentation,confidence,cluster,cell,assignment_confidence,is_noise,ncv_color
0,185.858400,2150.6640,27.717514,LPL,27.257519,UNASSIGNED,0,1,0,0.00000,4,NaN,1.00,True,#00B3F5
1,39.678825,2239.7317,28.133549,HIF1A,39.962578,UNASSIGNED,0,2,0,0.00000,4,NaN,1.00,True,#0094CA
2,71.317750,2226.2737,28.076117,HIF1A,39.962578,UNASSIGNED,0,3,0,0.00000,4,NaN,1.00,True,#009EC6
3,76.182100,2228.9172,27.930109,ATP2B1,39.962578,UNASSIGNED,0,4,0,0.00000,4,NaN,1.00,True,#00AED9
4,102.297830,2215.4573,27.890163,FABP5,39.962578,UNASSIGNED,0,5,0,0.00000,2,NaN,1.00,True,#008CCF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46568348,6583.486000,6502.5093,13.049177,LGALS3,40.000000,ellmfboe-1,150357,46568349,150357,0.95591,4,NaN,0.70,True,#008CD3
46568349,6585.923300,6499.3740,10.664177,SELENOP,27.819832,ahjjmnni-1,150371,46568350,150371,0.79813,4,NaN,0.72,True,#008ABD
46568350,6594.755000,6500.1600,13.321867,SERPINE1,40.000000,ahkcfgjf-1,150384,46568351,150384,0.99662,4,CRa95725001-160665,1.00,False,#00B9FF
46568351,6615.279000,6501.3975,18.386960,S100A9,39.962578,oimohfbe-1,150435,46568352,150435,0.99681,4,CRa95725001-160669,0.96,False,#00B1E3
46568352,6616.989700,6500.6235,18.788172,SERPINE1,22.506477,oimohfbe-1,150435,46568353,150435,0.99482,4,CRa95725001-160669,0.96,False,#00BDEA

In [17]:
cd = read_baysor_cells(r"C:\Users\ge37voy\OneDrive - TUM\data\2315_VascularCancer_Mogler\2315-02-glioblastoma\20240112__122324__2315-02-Glioblastoma\baysor\baysor_output-0017313__N-486-22-T__20240410__180243")

Parsing count matrix...

c:\Users\ge37voy\AppData\Local\miniconda3\envs\insitupy\lib\site-packages\anndata\_core\anndata.py:183: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)
c:\Users\ge37voy\AppData\Local\miniconda3\envs\insitupy\lib\site-packages\anndata\_core\anndata.py:183: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

Reading segmentation masks
	Read polygons
	Convert polygons to segmentation mask

In [4]:
cd

,geometry,cell,type,minx,miny,maxx,maxy
0,"POLYGON ((5572.994 867.299, 5571.620 868.987, ...",185983,polygon,5570.9610,862.1614,5576.6320,868.9868
1,"POLYGON ((5618.978 2042.330, 5626.131 2050.415...",92533,polygon,5618.8750,2039.1270,5633.0010,2051.7383
2,"POLYGON ((6324.913 3774.296, 6323.673 3774.741...",137206,polygon,6323.3945,3772.7334,6335.3970,3781.9230
3,"POLYGON ((2032.059 5023.880, 2029.680 5019.779...",76914,polygon,2025.0287,5019.7646,2033.6685,5029.4370
4,"POLYGON ((6558.154 4569.855, 6558.893 4568.359...",150095,polygon,6544.0400,4557.6030,6560.0610,4574.1910
...,...,...,...,...,...,...,...
219609,"POLYGON ((2537.511 5417.042, 2535.600 5415.826...",99296,polygon,2523.5742,5413.5800,2537.6404,5428.9014
219610,"POLYGON ((5629.675 5640.537, 5629.065 5640.871...",202471,polygon,5627.7983,5640.5366,5629.6753,5641.1680
219611,"POLYGON ((5790.098 2153.338, 5796.951 2160.021...",98971,polygon,5787.5195,2142.8027,5801.3220,2160.0210
219612,"POLYGON ((5323.296 5819.234, 5321.646 5817.567...",150325,polygon,5314.9434,5814.8945,5323.6826,5824.8394
219614,"POLYGON ((1772.353 1688.880, 1775.483 1686.881...",175679,polygon,1767.6616,1683.4324,1777.1792,1689.2667

In [15]:
cd.geometry.bounds

             minx       miny       maxx       maxy
0       5570.9610   862.1614  5576.6320   868.9868
1       5618.8750  2039.1270  5633.0010  2051.7383
2       6323.3945  3772.7334  6335.3970  3781.9230
3       2025.0287  5019.7646  2033.6685  5029.4370
4       6544.0400  4557.6030  6560.0610  4574.1910
...           ...        ...        ...        ...
219609  2523.5742  5413.5800  2537.6404  5428.9014
219610  5627.7983  5640.5366  5629.6753  5641.1680
219611  5787.5195  2142.8027  5801.3220  2160.0210
219612  5314.9434  5814.8945  5323.6826  5824.8394
219614  1767.6616  1683.4324  1777.1792  1689.2667

[212002 rows x 4 columns]

In [14]:
cd.geometry.bounds.loc[:, "maxx"].max()

6642.6455

In [5]:
type(cd)

geopandas.geodataframe.GeoDataFrame

In [3]:
cd

matrix
    AnnData object with n_obs Ã— n_vars = 212002 Ã— 314
    obs: 'CellID', 'area', 'avg_assignment_confidence', 'avg_confidence', 'cluster', 'density', 'elongation', 'lifespan', 'max_cluster_frac', 'n_transcripts', 'z'
    obsm: 'spatial'
boundaries
    BoundariesData object with 1 entry:
        cellular

In [4]:
xd = read_xenium(r"C:\Users\ge37voy\OneDrive - TUM\data\2315_VascularCancer_Mogler\2315-02-glioblastoma\20240112__122324__2315-02-Glioblastoma\baysor\0017313__N-486-22-T")

In [5]:
xd.load_cells()

Loading cells...
	Found alternative cells...

In [10]:
ba = xd.alt["baysor"]

In [13]:
ba.boundaries.cellular

[dask.array<from-zarr, shape=(7233, 6665), dtype=uint32, chunksize=(5792, 5792), chunktype=numpy.ndarray>,
 dask.array<from-zarr, shape=(3617, 3333), dtype=uint32, chunksize=(3617, 3333), chunktype=numpy.ndarray>,
 dask.array<from-zarr, shape=(1809, 1667), dtype=uint32, chunksize=(1809, 1667), chunktype=numpy.ndarray>,
 dask.array<from-zarr, shape=(905, 834), dtype=uint32, chunksize=(905, 834), chunktype=numpy.ndarray>,
 dask.array<from-zarr, shape=(453, 417), dtype=uint32, chunksize=(453, 417), chunktype=numpy.ndarray>,
 dask.array<from-zarr, shape=(227, 209), dtype=uint32, chunksize=(227, 209), chunktype=numpy.ndarray>,
 dask.array<from-zarr, shape=(114, 105), dtype=uint32, chunksize=(114, 105), chunktype=numpy.ndarray>]

In [14]:
cd.boundaries.cellular

dask.array<array, shape=(7228, 6656), dtype=uint32, chunksize=(5792, 5792), chunktype=numpy.ndarray>

In [19]:
cd.boundaries.cellular

dask.array<array, shape=(7214, 6643), dtype=uint32, chunksize=(5792, 5792), chunktype=numpy.ndarray>